---
interface Props {
  velocity: number;
}

const { velocity } = Astro.props;
---

<div class="markquee flex gap-y-2 scroll-wrapper" data-velocity={velocity}>
  <div class="scroller flex">
    <slot />
  </div>
  <div class="scroller flex">
    <slot />
  </div>
  <div class="scroller flex">
    <slot />
  </div>
  <div class="scroller flex">
    <slot />
  </div>
</div>

<script>
window.addEventListener('load', () => {
  const els = document.getElementsByClassName('markquee')
  console.log(els)
  for (let i = 0; i < els.length; i++) {
    const el = els[i] as HTMLElement;
    const velocity = Number(el.dataset.velocity);
    const width = el.getElementsByClassName('scroller')[0].clientWidth;
    const speed = width / velocity;
    el.style.setProperty('--speed', `${speed}s`);
  }
});
</script>

<style>
  @keyframes slide {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(-100%);
    }
  }

  .scroll-wrapper {
    margin-left: -10%;
  }

  .scroll-wrapper:hover .scroller {
    animation-play-state: paused
  }

  .scroller {
    animation: slide var(--speed) linear infinite backwards;
  }
 </style>